<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharpflux.shetkarimaza"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission
        android:name="org.apache.http.legacy"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".filters.Filter1Activity">
        </activity>
        <activity android:name=".filters.BuyerFilterActivity"></activity>
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.ContactDetailActivity"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.HomeActivity"
            android:theme="@style/SellerDarkAppTheme">
        </activity>
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.BuyerActivity"
            android:theme="@style/SellerDarkAppTheme"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.HomeActivity">
        </activity>
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.TranspoterActivity"
            android:label="Transpoter"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.SelfieActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.ProcessorActivity"
            android:label="What do you want to process?"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.DetailFormActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.UserVerificationActivity" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.EditRequestActivity"
            android:label="Edit"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.HomeActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.AddListActivity"
            android:label="@string/list_added_item"
            android:theme="@style/SellerDarkAppTheme" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.ResetPasswordActivity" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.OtpActivity" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharpflux.shetkarimaza.filters.FilterActivity"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.AllSimilarDataActivity" android:noHistory="true"
            android:theme="@style/ToolbarAppTheme" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.TabLayoutLogRegActivity" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.AllSimilarDataActivity" android:noHistory="true"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.HomeActivity"
            android:theme="@style/ToolbarAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.ProductDetailsForBuyerActivity"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.AllSimilarDataActivity"
            android:theme="@style/ToolbarAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.DetailFormActivity"
            android:label="@string/includemoredetails"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.ChooseActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.SelfieActivity"
            android:label="@string/selfie"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.ProcessorActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.ProductInfoForSaleActivity"
            android:label="@string/productdetail"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.SellerActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.SellerActivity"
            android:label="@string/productdetail"
            android:noHistory="true"
            android:parentActivityName="com.sharpflux.shetkarimaza.activities.HomeActivity"
            android:theme="@style/SellerDarkAppTheme" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.ChooseActivity" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.WelcomeActivity" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.HomeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.ForgotPasswordActivity" />
        <activity
            android:name="com.sharpflux.shetkarimaza.activities.SelectLanguageActivity"
            android:label="Select your Language"
            android:theme="@style/SellerDarkAppTheme" />
        <activity android:name="com.sharpflux.shetkarimaza.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.sharpflux.shetkarimaza.uploadimage.LocalStorageProvider"
            android:authorities="{applicationId}.documents"
            android:enabled="@bool/use_provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.sharpflux.shetkarimaza.provider.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_vsghhmsETnM91Z" />
    </application>

</manifest>